
header{
    background-color: rgb(70, 3, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
header p{
    font-size: 1.5rem;
    color: white;
    
}   