@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --OLDTT: "Old Standard TT";
  --ROBOTOMONO: "roboto mono";
  --LATOITAL: "Lato ital";
  --BG-COLOR: "#ffffff";
  --SIDEBAR: "#222a35";
  --HEADING-COLOR: "#404040";
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color:var(--BG-COLOR);
  font-family: var(--ROBOTOMONO);
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas:
    "Header Header Header Header"
    "Main Main Main Main"
    "Footer Footer Footer Footer";
}

header{
  grid-area: Header;
}

main{
  grid-area: Main;
}

footer{
  grid-area: Footer;
}
