main{
    height: 100%;
    /* display: grid;
    grid-template-areas: "user main-section"
                         "user main-section"; */
    /* grid-template-columns: 4fr 8fr; */

    display: flex;
}

.user{
    width: 250px;
    background-color:  #FBEAEB;
    color: #2F3C7E;
    grid-area: user;
    /* border: 2px solid purple; */
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.build-view{
    grid-area: main-section;
    flex-grow: 1;
    background-color: black;
    color: white;
}

